.text-danger {
  color: red;
  font-size: 80%;
  margin-left: 0.5rem;
  display: block;
}
.text-success {
  color: green;
  font-size: 80%;
  margin-left: 0.5rem;
}

.MuiInputLabel-asterisk {
  color: red;
}
